VITE_API_BASE_URL=http://localhost:5000
VITE_SUPABASE_URL=https://vesoxqoicnhoizjfpcoq.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
VITE_REALTIME_ROOM_PREFIX=iqritsa
DATABASE_URL=postgresql://postgres.vesoxqoicnhoizjfpcoq:YOUR_DB_PASSWORD@aws-1-us-east-2.pooler.supabase.com:6543/postgres?sslmode=require
SUPABASE_JWKS_URL=https://vesoxqoicnhoizjfpcoq.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_ISSUER=https://vesoxqoicnhoizjfpcoq.supabase.co/auth/v1
SUPABASE_AUDIENCE=authenticated
